@import "https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

* {
    background-color: #366b8a;
    box-sizing: border-box;
    margin: 0;
}

.App {
    background-color: aliceblue;
    border: 2px solid aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    min-width: 405px;
    width: 90vw;
}

#top-bar-container {
    color: white;
    min-height: 160px;
    padding-bottom: 1px;
}

#top-bar-container input {
    background-color: aliceblue;
    border: 0;
    border-radius: 4px;
    outline: none;
}

.app-title {
    font-size: 2em;
    font-weight: 500;
    padding: 12px;
}

.app-description {
    font-size: 0.9rem;
    font-weight: 300;
}

.credential-container {
    display: flex;
    margin-bottom: 10px;
}

.login-container {
    margin-left: 12px;
    width: 270px;
}

.login-input {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}

.login-links,
.login-help-links:hover {
    color: lightgray;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
    text-decoration: underline;
}

.login-help-links:hover {
    color: aliceblue;
}

.login-button {
    border: 1px solid aliceblue;
    border-radius: 4px;
    color: lightslategray;
    cursor: default;
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin: 3px 8px;
    padding: 0 12px;
    text-align: center;
}
.login-button:hover {
    background-color: #366b8a;
    color: lightslategray;
}

.full-overlay {
    background-color: #366b8a;
    height: 100%;
    opacity: 50%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.create-account-modal {
    background-color: aliceblue;
    border: 6px solid #366b8a;
    border-radius: 12px;
    color: #2e5a74;
    height: 380px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    z-index: 4;
}

.user-details-container {
    padding: 12px;
    text-align: right;
}

.top-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.top-nav-container {
    border: 2px solid aliceblue;
    display: flex;
    justify-content: center;
}

.top-nav-button {
    color: aliceblue;
    cursor: pointer;
    padding: 6px 20px;
}
.top-nav-button:hover {
    background-color: aliceblue;
    color: #366b8a;
}

#preview-pane {
    background-color: aliceblue;
    color: #366b8a;
    padding: 4px;
}

#preview-title {
    background-color: aliceblue;
    color: #366b8a;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 8px;
    text-align: center;
}

.preview-list {
    background-color: aliceblue;
    border: 1px solid #2e5a74;
    border-radius: 4px;
    color: #366b8a;
    margin: 8px;
    padding: 4px;
}

.selection-widget {
    border: 1px solid gray;
    margin: 10px;
}

.search-tool {
    background-color: aliceblue;
    padding: 4px;
}

.search-bar {
    display: flex;
    font-size: 1.1em;
    padding: 6px 6px 9px;
}

.search-label {
    color: white;
    margin-right: 6px;
}

.search-field {
    background-color: aliceblue;
    border: none;
    border-radius: 4px;
    color: #2e5a74;
    font-size: 1em;
    margin-right: 8px;
    outline: none;
}

#results {
    background-color: aliceblue;
    padding: 4px;
}

.cancel-div {
    margin-left: auto;
}

.cancel-button {
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    color: #2e5a74;
    cursor: pointer;
    font-size: 1em;
}

.add-item-button {
    background-color: lightgray;
    border: 2px solid #366b8a;
    color: #2e5a74;
    cursor: pointer;
    display: flex;
    font-size: 1.1em;
    font-weight: 500;
    padding: 4px;
}

.orderable-item {
    border: 2px solid aliceblue;
    display: flex;
}

#add-to-db-tool {
    background-color: aliceblue;
    border: 1px solid #2e5a74;
    border-radius: 4px;
    color: #366b8a;
    margin: 8px;
    padding: 4px;
}

#add-to-db-tool * {
    background-color: aliceblue;
    color:#2e5a74;
}

@media screen and (min-width: 685px) {
    #top-bar-container {
        display: flex;
        justify-content: space-between;
        min-height: 110px;
        padding-bottom: 0;
    }

    .credential-container {
        height: 80px;
        margin: 12px;
    }
}

@media screen and (min-width: 788px) {
    .app-title {
        font-size: 2.8em;
        padding: 8px 12px 12px 24px;
    }

    .app-description {
        font-size: 1rem;
    }
}

/*----------google stuff --------*/

.material-symbols-outlined {
    margin-left: auto;
    color: aliceblue;
}
